.body-top { 
	padding-top: 120px; 
}

.navbar {
	background: #183A53;
	height: 100px;
	color:#f7f7f7;
	z-index: 999;
	border: none;

}

.navbar-collapse {
	padding-top: 10px;
	background: #183A53;
}

.navbar-brand img {
	height: 100px;
	border: solid white 5px;
	padding-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #f7f7f7;

}

.navbar-default, .navbar {
	border-radius: 0px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	background: transparent;
	color: red;
	box-shadow: none;
}

.navbar-nav>li>a {
	text-shadow: none;
}

@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		background: white;
	}

	.navbar-brand img {
		height: 50px;
		border-width: 2px;
	}

	.navbar-form {
		border: none;
	}

}

#logInElement {
	width: 200px;
	margin: 2px;
	margin-top: 8px;
	margin-left: 15px;
}

#loggedAs {
	font-style: italic;
	margin: 15px;
	margin-bottom: 10px;
}

#logButtons {
	margin-top: 8px;
	margin-left: 15px;
	margin-right: 15px;
}

.glyphicon-user, .glyphicon-chevron-right {
	margin-top: 12px;
	width: 40px;
	cursor: pointer;
}

.glyphicon-chevron-right {
	width: 25px;
}

.dropdown-li {
	padding-left: 30px;
	cursor: pointer;
	color: #333;
}

.dropdown-li:hover {
	background-color: #EEEEEE;
}

#newArticleLink {
	color: #F7F7F7;
}

#newArticleLink:hover,
#newArticleLink:focus {
	color: red;
	text-decoration: none;
}

.activeAdmin {
	color: #77F977;
}

.admin-menu {
	background-color: white;
	border-radius: 4px;
	padding-bottom:3px;
	margin-right: 10px;
	color: #183A53;
}

@media (min-width: 767px) {
	#newArticleLink  {
		position: absolute;
		right: 25px;
		top: 65px;
	}

	.glyphicon-user,
	.admin-menu {
		position: absolute;
		right: 0px;
		top: 10px;
	}

}